.menu {
   text-align: center;
}



.mainButton {
   border: none;  
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   width: 14em;
   line-height: 2em;
   color: #FFFFFF;
   font-family: Verdana;
   font-size: 1.1em;
   font-weight: 100;
   margin: 1em;
   padding: 1em;
   background-color: #1E62D0;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
}

.mainButton:hover {
   background: #0C54D0;
   text-decoration: none;
}



.smallButton {
   top: 13em;
   position: absolute;
   border: none;  
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   width: 7em;
   line-height: 1em;
   color: #FFFFFF;
   font-family: Verdana;
   font-size: 0.9em;
   font-weight: 100;
   margin: 0.5em;
   padding: 0.5em;
   background-color: #2cd643;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
}

.smallButton:hover {
   background: #22b536;
   text-decoration: none;
}

.smallButton2 { 
   border: none;  
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   width: 7em;
   line-height: 1em;
   color: #FFFFFF;
   font-family: Verdana;
   font-size: 0.9em;
   font-weight: 100;
   margin: 0.5em;
   padding: 0.5em;
   background-color: #2cd643;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   bottom: 0em;
   right: 0;
}

.smallButton2:hover {
   background: #22b536;
   text-decoration: none;
}




.sendButton {
   position: absolute;
   color: #FFFFFF;
   font-family: Verdana;
   font-weight: 100;
   padding: 0.78em;
   background-color: #1E62D0;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   border: none;
}

.sendButton:hover {
   background: #0C54D0;
   text-decoration: none;
}



.displayName {
   font-weight: bold;
   text-transform: capitalize;
   color: #0C54D0; 
}

.displayMessage::first-letter {
   text-transform: capitalize; 
}

.displayAllMessages {
   text-align: left;
   padding-left: 30%;
   padding-right: 30%;
   position: relative;
   overflow-wrap: break-word;
   font-size: 1.7em;
}

.roomTitle {
   text-transform: capitalize;
   padding-left: 1em;
   font-size: 1.7em;
}

.formClass {
   padding-top: 0.5%;
}



.returnButton {
   background-color: transparent; 
   position: absolute; 
   display:inline-block;
   overflow: auto;
   white-space: nowrap;
   left: 27%;
   z-index: 1000;
   border: none;
   cursor: pointer;
}




.inputText {
   font-size: 1.01em;
}

@media only screen and (max-width: 1200px) {
   body {
      font-size: 1.2em;
   }
   .sendButton {
      position: absolute;
      color: #FFFFFF;
      font-family: Verdana;
      font-weight: 100;
      padding: 0.97em;
      background-color: #1E62D0;
      text-shadow: 1px 1px 20px #000000;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      border: none;
   }

   .sendButton:hover {
      background: #0C54D0;
      text-decoration: none;
   }
}

@media only screen and (max-width: 768px) {
   body {
      font-size: 0.75em;
   }
}



td {
   width: 10em;
}